<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    input[type="submit"]{
      background-color: white;
      border-color: lightgreen;
      border-radius: 20px;
      width: 50%;
      cursor: pointer;
    }
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    body {
      font-size: 20px;
    }
  </style>
  <body bgcolor = 'lightyellow'>
    <div class="middle">
      <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png" alt="Successful" width="200px" height="200px">
      <h3>
        Your Id is {{id}}.
      </h3>
      <h4>
        Application form submitted successfully!!!
      </h4>
      <form action="/" method="POST">
        <input value='Return to Home Page' type='submit'>
      </form>
    </div>
  </body>
</html>
